<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tikfans.tikfollow.tik.tok.followers.likes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="tikfans.tikfollow.tik.tok.followers.likes.MyChannelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ten_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tikfans.tikfollow.tik.tok.followers.likes.UnFollowUserActivity"></activity>
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.ManHinhDauTienActivity"
            android:label="@string/ten_app"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.subviewlike.SubChiTietChienDichActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.MuaHangActivity"
            android:label="@string/buy_coin"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="tikfans.tikfollow.tik.tok.followers.likes.service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="tikfans.tikfollow.tik.tok.followers.likes.service.DemNguocThoiGianServices"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="tikfans.tikfollow.tik.tok.followers.likes.XemQuangCaoActivity" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.ManHinhDangNhapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.ChonVideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.ManHinhFTUActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.MoiBanBeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.CauHoiThuongGapActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.subviewlike.SubTaoChienDichActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.subviewlike.LikeTaoChienDichActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="tikfans.tikfollow.tik.tok.followers.likes.subviewlike.LikeChiTietChienDichActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>